.services-main-container{
    box-sizing: border-box;
    width: 100%;
    max-height: 515px;
    /* background-image: url("../../assets/svg/backgroundapp.svg");
    background-position: center;
    background-size: cover; */
}

.switch-service-container{
    display: flex;
    justify-content: initial;
    align-items: center;
    margin-top: 20px;
    padding: 25px 91px;
    gap: 25px;
}

.switch-service-button{
    background-color: rgba(255, 255, 255, .5);
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    transition: .7s;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.switch-service-button:hover{
    background-color: rgba(255, 255, 255, .7);
}

.switch-service-button.active{
    background-color: #006CBE;
    color: #fff;
    transition: .3s;
}

/* media queries */
@media screen and (min-width: 320px) and (max-width: 375px){
    .switch-service-container{
        padding: 25px 20px;
        gap: 5px;
    }

    .switch-service-button{
        padding: 5px 10px;
        font-size: 10px;
    }
}

@media screen and (min-width: 375px) and (max-width: 425px){
    .switch-service-container{
        padding: 25px 20px;
        gap: 5px;
    }

    .switch-service-button{
        padding: 5px 10px;
        font-size: 10px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px){
    .switch-service-button{
        font-size: 12px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px){
    .switch-service-container{
        padding: 35px;
    }
}