.footer-main-container {
    width: 100%;
    max-height: 300px;
    box-sizing: border-box;
    background-color: rgba(0, 18, 28, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 71px 91px 15px 91px;
    gap: 30px;
}

.informations-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.logo-footer-container h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}


.socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.socialmedia-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.socialmedia-info h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}


.socialmedia-info ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.socialmedia-info ul li {
    list-style: none;
}

.socialmedia-info ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.contact h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.cellphone,
.whatsapp {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.cellphone {
    background: none;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    transition: .7s;
}

.cellphone:hover {
    background-color: #006CBE;
    border: 1px solid #006CBE;
}

.whatsapp {
    color: #fff;
    background-color: #006CBE;
    border: 1px solid #006CBE;
    border-radius: 10px;
    transition: .7s;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.whatsapp:hover {
    background: none;
    border: 1px solid #fff;
}

.copy-container p{
    color: #5f5f5f;
    font-size: 16px;
}

/* media queries */
@media screen and (min-width: 320px) and (max-width: 375px){
    .footer-main-container{
        padding: 15px 20px;
    }

    .logo-footer-container{
        display: none;
    }

    .informations-footer{
        flex-direction: column;
        gap: 20px;
    }

    .socialmedia-info h3{
        font-size: 16px;
    }

    .socialmedia-info ul li a{
        font-size: 12px;
    }

    .socialmedia-info ul{
        gap: 0;
    }

    .contact h3{
        font-size: 16px;
    }

    .whatsapp{
        padding: 5px;
    }

    .whatsapp p{
        font-size: 12px;
    }

    .copy-container p{
        font-size: 12px;
        text-align: center;
    }

}

@media screen and (min-width: 375px) and (max-width: 425px){
    .footer-main-container{
        padding: 15px 20px;
    }

    .logo-footer-container{
        display: none;
    }

    .informations-footer{
        flex-direction: column;
        gap: 20px;
    }

    .socialmedia-info h3{
        font-size: 16px;
    }

    .socialmedia-info ul li a{
        font-size: 12px;
    }

    .socialmedia-info ul{
        gap: 0;
    }

    .contact h3{
        font-size: 16px;
    }

    .whatsapp{
        padding: 5px;
    }

    .whatsapp p{
        font-size: 12px;
    }

    .copy-container p{
        font-size: 12px;
        text-align: center;
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px){
    .footer-main-container{
        padding: 35px ;
    }

    .socialmedia-info h3{
        font-size: 16px;
    }

    .contact h3{
        font-size: 16px;
    }

    .copy-container p{
        font-size: 12px;
    }
}