.developer-main-container{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 400px;
    padding: 25px 91px;
    gap: 15px;
}

.developer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.info-developer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    width: 50%;
    gap: 20px;
}

.info-developer h2{
    font-weight: 500;
    color: #006CBE;
}

.info-developer p{
    font-size: 16px;
    color: #fff;
}

.img-developer{
    max-width: 280px;
    max-height: 280px;
    border-radius: 50px;
    background-color: #5297FF;
    padding-bottom: 20px;
    -webkit-box-shadow: 0px 0px 16.68px 0px rgba(0, 108, 190, 1);
    -moz-box-shadow: 0px 0px 16.68px 0px rgba(0, 108, 190, 1);
    box-shadow: 0px 0px 16.68px 0px rgba(0, 108, 190, 1);
}

.img{
    width: 280px;
    height: 260px;
    border-radius: 50px;
}

.let{
    background-image: url("../../assets/img/let.jfif");
    background-size: cover;
    background-position: center;
}

.luiz{
    background-image: url("../../assets/img/luiz.jfif");
    background-size: cover;
    background-position: center;
}