.swiper-pagination-bullet {
    background-color: #cccccc;
    opacity: 0.8;
    width: 10px;
    height: 10px;
    transition: 0.7s;
}

.swiper-pagination-bullet-active {
    background-color: #006CBE;
    opacity: 1;
    transform: scale(1.2);
}

.developer-main-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 400px;
    padding: 25px 91px;
    gap: 15px;
}

.developer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.info-developer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    width: 50%;
    gap: 20px;
}

.info-developer h2 {
    font-weight: 500;
    color: #006CBE;
}

.info-developer p {
    font-size: 16px;
    color: #fff;
}

.img-developer {
    max-width: 280px;
    max-height: 280px;
    border-radius: 50px;
    background-color: #5297FF;
    padding-bottom: 20px;
    -webkit-box-shadow: 0px 0px 16.68px 0px rgba(0, 108, 190, 1);
    -moz-box-shadow: 0px 0px 16.68px 0px rgba(0, 108, 190, 1);
    box-shadow: 0px 0px 16.68px 0px rgba(0, 108, 190, 1);
}

.img {
    width: 280px;
    height: 260px;
    border-radius: 50px;
}

.let {
    background-image: url("../../assets/img/let.jfif");
    background-size: cover;
    background-position: center;
}

.luiz {
    background-image: url("../../assets/img/luiz.jfif");
    background-size: cover;
    background-position: center;
}

/* media queries */
@media screen and (min-width: 320px) and (max-width: 375px) {
    .developer-main-container {
        padding: 10px 5px;
        gap: 10px;
        width: 100%;
    }

    .developer-container {
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    .info-developer {
        width: 200px;
    }

    .info-developer h2 {
        font-size: 12px;
        text-align: center;
    }

    .info-developer p {
        font-size: 10px;
        text-align: center;
    }

    .img-developer {
        max-width: 140px;
        max-height: 140px;
    }

    .img {
        width: 140px;
        height: 120px;
    }

    .description {
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
    .developer-main-container {
        padding: 25px 20px;
        gap: 10px;
        width: 100%;
    }

    .developer-container {
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    .info-developer {
        width: 200px;
    }

    .info-developer h2 {
        font-size: 16px;
        text-align: center;
    }

    .info-developer p {
        font-size: 14px;
        text-align: center;
    }

    .img-developer {
        max-width: 160px;
        max-height: 160px;
    }

    .img {
        width: 160px;
        height: 140px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .developer-main-container {
        padding: 25px 20px;
        gap: 10px;
        width: 100%;
    }

    .developer-container {
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    .info-developer {
        width: 200px;
    }

    .info-developer h2 {
        font-size: 16px;
        text-align: center;
    }

    .info-developer p {
        font-size: 14px;
        text-align: center;
    }

    .img-developer {
        max-width: 200px;
        max-height: 200px;
    }

    .img {
        width: 200px;
        height: 180px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .developer-main-container {
        padding: 25px 20px;
        gap: 10px;
        overflow-x: auto;
        width: 750px;
    }

    .info-developer {
        width: 200px;
    }

    .info-developer h2 {
        font-size: 24px;
    }

    .info-developer p {
        font-size: 14px;
    }

    .img-developer {
        max-width: 200px;
        max-height: 200px;
    }

    .img {
        width: 200px;
        height: 180px;
    }
}